<launch>
  <!-- Listen to messages from joysicks -->
  <node pkg="joy" name="joy_node" type="joy_node"/>

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find lightweight_robot_simulator)/maps/building_31.yaml"/>
  <arg name="doday_map" default="$(find weibot_gazebo_sim)/doday_maps/doday_world_map.yaml"/>

  <!-- Launch the racecar model -->
  <!-- <include file="$(find lightweight_robot_simulator)/launch/robot_model.launch"/> -->

  <!-- Open the model file -->
  <arg name="robot_xacro" default="$(find weibot_description)/urdf/smartbin-v1.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg robot_xacro)'"/>

  <!-- Begin the simulator with the parameters from smartbin-v1.yaml -->
  <!-- <node pkg="lightweight_robot_simulator" name="lightweight_robot_simulator" type="simulate" output="screen">
    <rosparam command="load" file="$(find lightweight_robot_simulator)/smartbin-v1.yaml"/>
  </node> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="20.0"/>
  </node>

  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

</launch>
